@import url('https://fonts.googleapis.com/css2?family=Poppins:wgh@300;400;500;600;700&display=swap');
html{
  scroll-behavior: smooth;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: black;
    
}

::selection{
    background: #02c8f0;
    color: white;
}

img{
    pointer-events: none;
}

.landingPage{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landingPage .topSide{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landingPage .topSide .logo a img{
    width: 150px;
}

.landingPage .topSide .logo a p.nombreweb{
    font-size: 21px;
    color: #02c8f0;
}

.landingPage .topSide .nombredisenador p{
    font-size: 32px;
    color: #02c8f0;
    text-align: right;
}

.landingPage .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    writing-mode: vertical-lr;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

.landingPage .navbar a{
    transition: all 0.2s ease-in-out;
}

.landingPage .navbar a.link:hover{
    color: #02c8f0;
    text-decoration: underline;
}

.landingPage .mainimage{
    position: absolute;
    bottom: 0;
    z-index: 1;
    max-width: 50%;
}

.landingPage .mainimage img{
    max-width: 100%;
    overflow: hidden;
}

.landingPage .fondo1 {
    position: absolute;
    padding: 100px;
    bottom: 300px;
    right: 450px;
    z-index: 0;
    transition: opacity 0.3s;
}
.landingPage .fondo3{
    z-index: -3;
}

.landingPage .fondo3 img {
    width: 100vw;
    /* o */
    height: 90vh;
   opacity: 0.3;
}

.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #02c8f0;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  
  .cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #02c8f0;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
  }
  
  .cursor:hover, a:hover{
    transform: translate(-50%, -50%) scale(1.5);
  }
  
 .cursor2:hover{
    opacity: 0;
  }

.landingPage .fondo2 {
    position: absolute;
    padding: 100px;
    bottom: 300px;
    right: 450px;
    z-index: -1;
}

.landingPage .fondo1:hover {
    opacity: 0;
    z-index: 0;
}



.landingPage .bottomLeftSide{
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

.landingPage .bottomLeftSide p.job{
    font-size: 32px;
    color: #02c8f0;
}

.landingPage .bottomLeftSide p.location{
    font-size: 21px;
    color: #ccc;
}

.landingPage .bottomLeftSide p.location span{
    color: #02c8f0;
}

.landingPage .about {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 800px;
    height: auto;
    padding: 2rem;
    z-index: 2;
    overflow: hidden;
    opacity: 0; /* Ocultamos el elemento por defecto */
    transition: opacity 0.5s ease-in-out;
    }
    
    .landingPage .about.show-about {
        opacity: 1;
      }
      
  
.navbar .link-a:hover{
    color: #02c8f0;
}  

.landingPage .bottomRightSide{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.landingPage .bottomRightSide a i{
    font-size: 21px;
    transition: all 0.2s ease-in-out;
}

.landingPage .bottomRightSide a i:hover{
    color: #02c8f0;
    
}

.contacto {
  background-color: #000000;
  padding: 80px 0;
}

.contact-heading {
  text-align: center;
  padding-top: 10vh;
  margin-top: 0;
  margin-bottom: 10vh;
}

.contact-heading h2 {
  font-size: 36px;
  margin-top: -12vh;
  color: #02c8f0;
  font-weight: 700;
}

.divisor {
  width: 100px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto;
}

.contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.contacto-datos h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Estilos para móviles de 6 pulgadas o menos */
@media screen and (max-width: 767px) {
  body {
    font-size: 14px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }

  .landingPage .topSide .logo a img {
    width: 60px; /* Reduzca el tamaño del logo */
  }

  .landingPage .topSide .logo a p.nombreweb {
    font-size: 14px; /* Reduzca el tamaño del texto del nombre del sitio */
  }

  .landingPage .topSide .nombredisenador p {
    font-size: 18px; /* Tamaño de fuente del nombre del diseñador */
  }

  .landingPage .bottomLeftSide p.job,
  .landingPage .bottomLeftSide p.location,
  .landingPage .bottomRightSide a i {
    font-size: 14px; /* Tamaño de fuente de otros elementos de texto */
  }

  .landingPage .navbar {
    display: none; /* Oculta la barra de navegación en pantallas pequeñas */
  }

  .landingPage .mainimage {
    max-width: 100%; /* Hace que la imagen principal sea responsive */
  }

  .landingPage .fondo1,
  .landingPage .fondo2,
  .landingPage .fondo3 {
    display: none; /* Oculta los fondos en pantallas pequeñas */
  }

  .landingPage .about {
    width: 80%; /* Ancho del bloque de texto en pantallas pequeñas */
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Estilos para móviles de 6 pulgadas a 10 pulgadas */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px; /* Tamaño de fuente para pantallas medianas */
  }

  .landingPage .topSide .logo a img {
    width: 80px; /* Tamaño de logo para pantallas medianas */
  }

  .landingPage .topSide .logo a p.nombreweb {
    font-size: 18px; /* Tamaño de fuente para el nombre del sitio en pantallas medianas */
  }

  .landingPage .topSide .nombredisenador p {
    font-size: 24px; /* Tamaño de fuente para el nombre del diseñador en pantallas medianas */
  }

  .landingPage .bottomLeftSide p.job,
  .landingPage .bottomLeftSide p.location,
  .landingPage .bottomRightSide a i {
    font-size: 18px; /* Tamaño de fuente para otros elementos en pantallas medianas */
  }

  .landingPage .navbar {
    display: flex; /* Muestra la barra de navegación en pantallas medianas */
  }

  .landingPage .mainimage {
    max-width: 60%; /* Tamaño máximo de imagen principal en pantallas medianas */
  }

  .landingPage .fondo1,
  .landingPage .fondo2,
  .landingPage .fondo3 {
    display: block; /* Muestra los fondos en pantallas medianas */
  }

  .landingPage .about {
    width: 30%; /* Ancho del bloque de texto en pantallas medianas */
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Estilos para portátiles de 10 pulgadas a 15 pulgadas */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  /* Ajusta los estilos según sea necesario para pantallas de portátiles medianos */
}

/* Estilos para portátiles de 15 pulgadas o más grandes */
@media screen and (min-width: 1441px) {
  /* Ajusta los estilos según sea necesario para pantallas de portátiles más grandes */
}
