@import url('https://fonts.googleapis.com/css2?family=Poppins:wgh@300;400;500;600;700&display=swap');
html{
  scroll-behavior: smooth;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: black;
    
}

::selection{
    background: #02c8f0;
    color: white;
}

img{
    pointer-events: none;
}

.landingPage{
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.landingPage .topSide{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landingPage .topSide .logo a img{
    width: 150px;
}

.landingPage .topSide .logo a p.nombreweb{
    font-size: 21px;
    color: #02c8f0;
}

.landingPage .topSide .nombredisenador p{
    font-size: 32px;
    color: #02c8f0;
    text-align: right;
}



.landingPage .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    writing-mode: vertical-lr;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

.landingPage .navbar a{
    transition: all 0.2s ease-in-out;
}

.landingPage .navbar a.link:hover{
    color: #02c8f0;
    text-decoration: underline;
}

.landingPage .mainimage{
    position: absolute;
    bottom: 0;
    z-index: 1;
    max-width: 50%;
}

.landingPage .mainimage img{
    max-width: 100%;
    overflow: hidden;
}

.landingPage .fondo1 {
    position: absolute;
    padding: 100px;
    bottom: 300px;
    right: 450px;
    z-index: 0;
    transition: opacity 0.3s;
}
.landingPage .fondo3{
    z-index: -3;
}

.landingPage .fondo3 img {
    width: 100vw;
    /* o */
    height: 90vh;
   opacity: 0.3;
}

.boton_descarga{
  font-size: 1.5rem;
  padding: 1.5rem;
  background-color: transparent;
  border: 0.2rem solid #02c8f0;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.boton_descarga:hover{
  transform: none;
  color: white;
  background-color: #02c8f0;

}

.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #02c8f0;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
  }
  
  .cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #02c8f0;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
  }
  
  .cursor:hover, a:hover{
    transform: translate(-50%, -50%) scale(1.5);
  }
  
 .cursor2:hover{
    opacity: 0;
  }

.landingPage .fondo2 {
    position: absolute;
    padding: 100px;
    bottom: 300px;
    right: 450px;
    z-index: -1;
}

.landingPage .fondo1:hover {
    opacity: 0;
    z-index: 0;
}



.landingPage .bottomLeftSide{
    position: absolute;
    left: 2rem;
    bottom: 2rem;
}

.landingPage .bottomLeftSide p.job{
    font-size: 32px;
    color: #02c8f0;
}

.landingPage .bottomLeftSide p.location{
    font-size: 21px;
    color: #ccc;
}

.landingPage .bottomLeftSide p.location span{
    color: #02c8f0;
}

.landingPage .about {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 800px;
    height: auto;
    padding: 2rem;
    z-index: 2;
    overflow: hidden;
    opacity: 0; /* Ocultamos el elemento por defecto */
    transition: opacity 0.5s ease-in-out;
    }
    
    .landingPage .about.show-about {
        opacity: 1;
      }
      
  
.navbar .link-a:hover{
    color: #02c8f0;
}  

.landingPage .bottomRightSide{
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.landingPage .bottomRightSide a i{
    font-size: 21px;
    transition: all 0.2s ease-in-out;
}

.landingPage .bottomRightSide a i:hover{
    color: #02c8f0;
    
}

.landingPage .bottomRightSideP {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.landingPage .bottomRightSideP a i {
  font-size: 21px;
  transition: all 0.2s ease-in-out;
}

.landingPage .bottomRightSideP a i:hover {
  color: #02c8f0;
}


.contacto {
  background-color: #000000;
  padding: 80px 0;
}

.contact-heading {
  text-align: center;
  padding-top: 10vh;
  margin-top: 0;
  margin-bottom: 10vh;
}

.contact-heading h2 {
  font-size: 36px;
  margin-top: -12vh;
  color: #02c8f0;
  font-weight: 700;
}

.divisor {
  width: 100px;
  height: 3px;
  background-color: #ffffff;
  margin: 0 auto;
}

.contenedor-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.contacto-datos h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ffffff;
}

/*PRUEBA CSS*/
.carousel{
  height: 60vh;
  margin-top: 3%;
  width: 90vw;
  overflow: hidden;
  position: relative;
  border: 1px solid #02c8f0;
  z-index: 0;
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content{
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.carousel .list .item .author{
  font-weight: bold;
  letter-spacing: 10px;
  color: #02c8f0;
}
.carousel .list .item .title,
.carousel .list .item .topic{
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic{
  color: #f1683a;
}
.carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button{
  border: none;
  background-color:#02c8f0;
  letter-spacing: 3px;
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid #02c8f0;
  background-color:#ffffff;
  color: #02c8f0;
}

.carousel .list .item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000003b; /* Color oscuro semitransparente */
  opacity: 0; /* Comienza invisible */
  transition: opacity 0.3s; /* Efecto de transición suave */
}

.carousel .list .item:hover::before {
  opacity: 1; /* Hacer visible cuando el ratón está sobre la tarjeta */
}

/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 10px;
  left: 74%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 130px;
  height: 190px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title{
  font-weight: 500;
  text-shadow: 0 0px 5px rgb(0, 0, 0);
}
.thumbnail .item .content .description{
  font-weight: 300;
  color: #f1683a;
}
/* arrows */
.arrows{
  position: absolute;
  top: 90%;
  right: 35%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.527);
  border: none;
  color: #02c8f0;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  border: 1px solid #02c8f0;
}
.arrows button:hover{
  background-color: #02c8f0;
  color: #ffffff;
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

/* running time */

.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
/*FIN PRUEBA*/


@media screen and (max-width: 1920px) {
    .landingPage .mainimage {
      max-width: 60%;
    }
    .landingPage .fondo1,
    .landingPage .fondo2 {
      position: absolute;
      bottom: 22.9166666667vh; /* 440px en relación al 1920px */
      right: 26.0416666667vh; /* 500px en relación al 1920px */
      padding: 3.125vh; /* 50px en relación al 1920px */
    }
    .landingPage .topSide .logo a img {
      width: 13.8888888889vh; /* 100px en relación al 768px */
    }
    .landingPage .topSide .logo a p.nombreweb {
      font-size: 2.5vh; /* 18px en relación al 768px */
    }
    .landingPage .topSide .nombredisenador p {
      font-size: 3.3333333333vh; /* 24px en relación al 768px */
    }
    .landingPage .bottomLeftSide p.job {
      font-size: 3.3333333333vh; /* 24px en relación al 768px */
    }
    .landingPage .bottomLeftSide p.location {
      font-size: 2.5vh; /* 18px en relación al 768px */
    }
    .landingPage .bottomRightSide a i {
      font-size: 2.5vh; /* 18px en relación al 768px */
    }
  }
  
 
  
  @media screen and (max-width: 900px) {
    .mainimage{
      display: none;
    }
    .landingPage .fondo1,
    .landingPage .fondo2 {
     display: none;
    }
    .landingPage .about {
      position: absolute;
      top: 50%;
      left: 40%;
      width: 70%;
      height: auto;
      padding: 2rem;
      z-index: 2;
      overflow: hidden;
      opacity: 1; /* Ocultamos el elemento por defecto */
      font-size: 1.5rem;
      }
      .navbar{
        z-index: 101;
      }
      .boton_descarga{
        padding: 1.5rem;
        font-size: 1.2rem;
        border: 0.1rem solid #02c8f0;
      }
      .carousel{
        height: 70vh;
        margin-top: 5%;
        width: 90vw;
        overflow: hidden;
        position: relative;
        border: 1px solid #02c8f0;
        z-index: 0;
      }
      .carousel .list .item .content{
        position: absolute;
        top: 5%;
        width: 1140px;
        max-width: 80%;
        left: 43%;
        transform: translateX(-50%);
        padding-right: 35%;
        box-sizing: border-box;
        color: #fff;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.445);
        font-size: 1.1rem;
      }
      .carousel .list .item .buttons{
        display: grid;
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: 40px;
        gap: 5px;
        margin-top: 20px;
      }
      .thumbnail{
        position: absolute;
        bottom: 10px;
        left: 68%;
        width: max-content;
        z-index: 100;
        display: flex;
        gap: 20px;
      }
      .thumbnail .item{
        width: 100px;
        height: 160px;
        flex-shrink: 0;
        position: relative;
      }
  }

  
  @media screen and (max-width: 768px) {
    .mainimage{
      display: none;
    }
    .landingPage .about {
      position: absolute;
      top: 50%;
      left: 40%;
      width: 70%;
      height: auto;
      padding: 2rem;
      z-index: 2;
      overflow: hidden;
      opacity: 1; /* Ocultamos el elemento por defecto */
      font-size: 1rem;
      }
      .boton_descarga{
        padding: 1rem;
        font-size: 1rem;
        border: 0.1rem solid #02c8f0;
      }
      .carousel{
        height: 70vh;
        margin-top: 9%;
        width: 90vw;
        overflow: hidden;
        position: relative;
        border: 1px solid #02c8f0;
        z-index: 0;
      }
    
      .carousel .list .item .content{
        position: absolute;
        top: 5%;
        width: 1140px;
        max-width: 80%;
        left: 43%;
        transform: translateX(-50%);
        padding-right: 35%;
        box-sizing: border-box;
        color: #fff;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.445);
        font-size: 0.9rem;
      }
      .carousel .list .item .buttons{
        display: grid;
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: 40px;
        gap: 5px;
        margin-top: 20px;
      }
      .thumbnail{
        position: absolute;
        bottom: 10px;
        left: 68%;
        width: max-content;
        z-index: 100;
        display: flex;
        gap: 20px;
      }
      .thumbnail .item{
        width: 100px;
        height: 160px;
        flex-shrink: 0;
        position: relative;
      }
      .navbar{
        z-index: 101;
      }
  }
  
  @media screen and (max-width: 400px) {
    .mainimage{
      display: none;
    }
    .landingPage .about {
      position: absolute;
      top: 50%;
      left: 40%;
      width: 70%;
      height: auto;
      padding: 2rem;
      z-index: 2;
      overflow: hidden;
      opacity: 1; /* Ocultamos el elemento por defecto */
      font-size: 0.7rem;
      }

      .carousel{
        height: 70vh;
        margin-top: 9%;
        width: 90vw;
        overflow: hidden;
        position: relative;
        border: 1px solid #02c8f0;
        z-index: 0;
      }
    
      .carousel .list .item .content{
        position: absolute;
        top: 5%;
        width: 1140px;
        max-width: 80%;
        left: 43%;
        transform: translateX(-50%);
        padding-right: 35%;
        box-sizing: border-box;
        color: #fff;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.445);
        font-size: small;
      }
      .carousel .list .item .buttons{
        display: grid;
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: 40px;
        gap: 5px;
        margin-top: 20px;
      }
      .thumbnail{
        position: absolute;
        bottom: 10px;
        left: 68%;
        width: max-content;
        z-index: 100;
        display: flex;
        gap: 20px;
      }
      .thumbnail .item{
        width: 100px;
        height: 160px;
        flex-shrink: 0;
        position: relative;
      }
      .boton_descarga{
        padding: 1rem;
        font-size: 1rem;
        border: 0.1rem solid #02c8f0;
      }
      .navbar{
        z-index: 101;
      }
  }